<!-- skills icons -->
<!-- SKILLS SECTION -->
<section class="skills-dock-section">
  <h2 class="kills-title power-title">Tech Stack</h2>

  <div class="dock">
    <div class="dock-item">
      <img src="assets/Logo/skills/node.svg" alt="Node.js">
      <span>Node.js</span>
    </div>

    <div class="dock-item">
      <img src="assets/Logo/skills/html.svg" alt="HTML5">
      <span>HTML5</span>
    </div>

    <div class="dock-item">
      <img src="assets/Logo/skills/javascript.svg" alt="JavaScript">
      <span>JavaScript</span>
    </div>

    <div class="dock-item main-skill">
      <img src="assets/Logo/skills/angular.png" alt="Angular">
      <span>Angular</span>
    </div>

    <div class="dock-item">
      <img src="assets/Logo/skills/typescript.svg" alt="TypeScript">
      <span>TypeScript</span>
    </div>

    <div class="dock-item">
      <img src="assets/Logo/skills/css3.svg" alt="CSS3">
      <span>CSS3</span>
    </div>

    <div class="dock-item">
      <img src="assets/Logo/skills/mongodb.svg" alt="MongoDB">
      <span>MongoDB</span>
    </div>
  </div>
</section>


<!--new -->
 <section class="portfolio" id="portfolio">
  <h2 class="section-title">Portfolio</h2>

  <div class="portfolio-container">
    <article
      class="project-card reveal" *ngFor="let project of projects"
    >
      <!-- Image Wrapper -->
      <div class="project-image">
        <img
          [src]="project.image"
          [alt]="project.title"
          loading="lazy"
        />
      </div>

      <!-- Content -->
      <div class="project-content">
        <h3>{{ project.title }}</h3>
        <p>{{ project.desc }}</p>

        <!-- tech stack badges -->
         <!-- <div class="tech-stack">
          <span *ngFor="let tech of project.tech">
            {{ tech }}
          </span>
        </div> -->

        <button class="btn primary" (click)="openModal(project)">
          👁 View Details
        </button>
      </div>
    </article>
  </div>
</section>

<!-- ------------------- -->

<div class="modal-backdrop" *ngIf="selectedProject">
  <div class="modal">
    <button class="close" (click)="closeModal()">×</button>

    <h3>{{ selectedProject.title }}</h3>
    <p>{{ selectedProject.desc }}</p>

    <div class="tech-stack">
      <span *ngFor="let tech of selectedProject.tech">
        {{ tech }}
      </span>
    </div>

    <a
      class="btn secondary"
      [routerLink]="['/project', selectedProject.slug]"
      (click)="closeModal()"
      >
      📄 View Case Study
      </a>

  </div>
</div>

