.case-study {
  max-width: 1000px;
  margin: auto;
  padding: 40px 20px;
}

.back-btn {
  background: none;
  border: none;
  color: #00ffd5;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.hero-img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.card {
  background: #111;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid rgba(255,255,255,0.08);
}

.card h3 {
  margin-bottom: 12px;
}

.card p {
  opacity: 0.9;
  line-height: 1.6;
}

ul {
  padding-left: 0;
  list-style: none;
}

ul li {
  margin-bottom: 8px;
  opacity: 0.9;
}

/* Tech Stack Logos */
.tech-logos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.tech {
  display: flex;
  align-items: center;
  gap: 10px;
  background:none;
  padding: 10px 14px;
  border-radius: 12px;
}

.tech img {
  width: 28px;
  height: 28px;
}

.tech span {
  font-size: 14px;
}
