body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: #111;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.navbar a:hover {
  color: #aaa;
}

section {
  padding: 60px 20px;
  text-align: center;
}

button {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #aaa;
  color: #111;
}

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main { flex: 1 0 auto; }      /* wrap your page content in <main> */
app-footer { margin-top: auto; }

html { scroll-behavior: smooth; }
