/* ===== Frozen Doodle Background ===== */
body {
  position: relative;
  background: #f8f9ff; /* ice-cream base */
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('assets/illustrations/body/bg2.jpg');
  background-repeat: repeat;
  background-size: 420px;
  background-position: center;

  opacity: 0.08; /* very important */
  pointer-events: none;
  z-index: -1;
}

.site-header,
.hero-glass,
.service-card,
.project-card,
.about-glass {
  position: relative;
  z-index: 1;
}



/* ------------------ */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background: #111;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.navbar a:hover {
  color: #aaa;
}

section {
  padding: 60px 20px;
  text-align: center;
}

button {
  background: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #aaa;
  color: #111;
}

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main { flex: 1 0 auto; }      /* wrap your page content in <main> */
app-footer { margin-top: auto; }

html { scroll-behavior: smooth; }


